input {
  font-size: 20px;
  padding: 5px;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;
}

input:hover {
  background-color: gray;
  color: white;
}

input:focus {
  background-color: yellow;
  color: black;
}
